<div style='width: 100%; padding: 0em 2em 0em 0;'>
    <h3 id="newsresources" style='padding: 1em 0 1em 0;'>{{pageNews.title}}</h3>
    <ul style='width: 100%;'>
    {% for newsLink in pageNews.sources %}
        <li class='col-lg-3 col-md-4 col-sm-6 col-xs-12' style='list-style: none;'>
            {% if modalDisplay == "true" %}
            <!-- trigger news modal -->
            {% else %}
            <div class='panel red-gradient button-selector'><div class='panel-body' style='padding-top: 0em;'><a href='{{news.url}}' style='color: white; text-align: left; width: 100%;'>{{news.title|upper}}</a><br></div>
            </div>
            {% endif %}
        </li>
     </ul>
</div>

<!-- For resources using a modal display rather than a link -->
<div id="newsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-wide-display" role="document">

    <!-- Modal content-->
    <div class="modal-content modal-full-height">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <strong><h3 class="modal-title">{{newsDisplay.title}}</h3></strong>
      </div>
      {% for news in newsDisplay.news %}
      <div class="modal-body modal-full-height" style='word-wrap: break-word; overflow-y: auto;'>
        <div>
            <h3><a href="{{news.link}}">{{news.title|upper}}</a></h3>
            <p>{{news.summary}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}