@media (min-width: 1024px) {
	body{
		padding-top: 100px;
	}
}
@media (max-width: 1024px) {
	body{
		padding-top: 120px;
	}
}
@media (max-width: 768px) {
	body{
		padding-top: 80px;
	}
}
body{
  color: #4d525a;
	  background-color: #f6f6f6;
}

h3:before { 
  display: block; 
  content: " "; 
  margin-top: -9.375em; 
  height: 9.375em; 
  visibility: hidden; 
}
.red-solid {
	background-color:#cf102d;
}
.red-gradient {
  background-color: #cf102d;
  border-color: #b00e26;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ee2443), to(#cf102d));
  background-image: -webkit-linear-gradient(top, #ee2443, 0%, #cf102d, 100%);
  background-image: -moz-linear-gradient(top, #ee2443 0%, #cf102d 100%);
  background-image: linear-gradient(to bottom, #ee2443 0%, #cf102d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee2443', endColorstr='#ffcf102d', GradientType=0);
}
.button-selector {
	height: 40px; 
	padding: .5em; 
	border-radius:0.313em; 
	box-shadow: 0.156em 0.156em 0.156em black; 
	color: white;
}
.highlight-title {
	height: 3em; 
	color: #cf102d;
	text-align: left; 
	padding-top: 1em;
}
.highlight-panel {
	height: 3em; 
	color: #4d525a;
	text-align: left; 
	padding-top: 1em;
}
.lightest-grey-gradient {
  background-color: #dbdcde;
  border-color: #cacbce;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f6f6f6), to(#dbdcde));
  background-image: -webkit-linear-gradient(top, #f6f6f6, 0%, #dbdcde, 100%);
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #dbdcde 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #dbdcde 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffdbdcde', GradientType=0);
}
.dark-white-gradient {
background-color: #f6f6f6;
border-color: #e5e5e5;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f6f6f6));
background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f6f6f6, 100%);
background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
}
.nav-bar-grey {
	background-color:#4d525a; 
	color: white; 
	padding: .5em .25em 1.25em 1em; 
	margin: 0; 
}
.nav-padded-left-dropdown {
	padding-left:.25em; 
	float: left;
}
.nav-unpadded-left-dropdown {
	padding:0; 
	float: left;
}
.nav-rounded-title {
 	border-radius:0.313em; 
 	text-align: left; 
 	margin: 0.5em 2em 0em .5em; 
 	padding: 0em 1.5em .5em 1.5em; 
 	float: right;
}
.nav-rounded-dropwdown-bar{
	float: left; 
	border-radius:0.313em; 
	text-align: left; 
	padding: 0em 1.5em .5em 1.5em; 
}