{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mercy Corps Public Dashboard">
        <meta name="author" content="Mercy Corps">

        <!-- <title>{% block title %} Program Dashboard {% endblock %}</title> -->

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL}}css/tola-dashboard.css" rel="stylesheet" type="text/css" />
        <!-- JQuery UI CSS -->
        <link href="{{ STATIC_URL }}css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <!-- Custom Narrative Layout CSS -->
        <link href="{{ STATIC_URL }}css/narrative_layout.css" rel="stylesheet" type="text/css">
        <!-- Custom Footer CSS -->
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" type="text/css">
        <!-- - Hosted Leaflet CSS --> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins)  -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <!-- <!- Hosted Leaflet -->
        <script src="{{ STATIC_URL }}js/leaflet.js"></script>

    </head>

<body style='background-color:#4d525a;'>
<!-- insert navbar -->
    <nav class = "navbar navbar-inverse navbar-fixed-top heavy-black-shadow" role = "navigation" style='background-color:#4d525a; color: white; padding: .5em .25em 1.25em 1em; margin: 0; ' >
           
           <div class = "navbar-header" style='float: left;'>
              <button type = "button" class = "navbar-toggle" 
                 data-toggle = "collapse" data-target = "#rrima-navbar-collapse">
                 <span class = "sr-only">Toggle navigation</span>
                 <span class = "icon-bar">
                                <ul class = "dropdown-menu"">
        <!--                <li><a href = "#report1"><span class="glyphicon glyphicon-stats"></span> Report 1</a></li>
                       <li><a href = "#report2"><span class="glyphicon glyphicon-stats"></span> Report 2</a></li>
                       <li><a href = "#report3"><span class="glyphicon glyphicon-stats"></span> Report 3</a></li>
                       <li><a href = "#report4"><span class="glyphicon glyphicon-stats"></span> Report 4</a></li>
                       <li><a href = "#report5"><span class="glyphicon glyphicon-stats"></span> Report 5</a></li> -->
                    </ul>
                 </span>
                 <span class = "icon-bar"></span>
                 <span class = "icon-bar"></span>
              </button>
                
               
           </div>
           
           <div class = "collapse navbar-collapse" id = "rrima-navbar-collapse">
            
              <ul class = "nav navbar-nav red-solid black-shadow" style='float: left; border-radius:0.313em; text-align: left; padding: 0em 1.5em .5em 1.5em; '>
                 <li class='col-lg-1 col-md-1 col-sm-1' style="padding-left:.25em; float: left;"><a href="#projectHome"><span class="glyphicon glyphicon-home"></span> </a></li>
                 <li class = "dropdown col-lg-6 col-md-6 col-sm-6" style="padding-left:.25em; float: left;">
                    <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                       RRIMA REPORTS<b class = "caret"></b>
                    </a>
                    
                    <ul class = "dropdown-menu"">
                        {% for notebook in getNotebooks %}
                       <li><a href = "#report{{report.id}}"><span class="glyphicon glyphicon-stats"></span> Report {{notebook.id}}/a></li>
                    </ul>
                    
                 <li class = "dropdown col-lg-5 col-md-5 col-sm-5" style="padding:0; float: left;">
                    <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                       MORE
                       <b class = "caret"></b>
                    </a>
                    
                    <ul class = "dropdown-menu">
                       <li><a href="#timeline"><span class="glyphicon glyphicon-film"></span> Timeline</a></li>
                       <li><a href="#programhub"><span class="glyphicon glyphicon-picture"></span> Program Hub</a></li>
                       <li><a href="#newsresources"><span class="glyphicon glyphicon-paperclip"></span> News Resources</a></li>
                    </ul>
                    
                 </li>
                    
              </ul>
              <div class='col-lg-6 col-md-6 col-sm-6 red-solid black-shadow' style='border-radius:0.313em; text-align: left; margin: 0.5em 2em 0em .5em; padding: 0em 1.5em .5em 1.5em; float: right'> <h2>RRIMA Refugee & Migration News</h2></div>
           </div>
           
           
     </nav>

<!-- main container goes here/ add basic grid system layout here -->
            <div class="tab-content">
                <div id="menu0" class="tab-pane fade in active">
                    <div class='container-fluid col-lg-12 dark-white-gradient wide-width-padding'>
                      {% with rrimaECHO as tolaPartner %}
                        {% include 'customdashboard/rrima_components/rrima_intro_panel.html' %}
                      {% endwith %}
                    </div>

                    <div class='container-fluid col-lg-12 col-md-12 col-sm-12 dark-white-gradient wide-width-bottom-padding'>
                        <div class='row' >
                          {% with pageMap as tolaMapData %}
                              {% include 'customdashboard/rrima_components/rrima_map.html' %}
                          {% endwith %}
                        </div>
                    </div>
                    <div class='container-fluid col-lg-12 col-md-12 col-sm-12 dark-white-gradient wide-width-padding'>
                        <div class='row'>
                          {% with rrimaTimeline as tolaTimeline %}
                            {% include 'customdashboard/rrima_components/timeline.html' %}
                          {% endwith %}
                        </div>
                    </div>
                    <div class='container-fluid col-lg-12 col-md-12 col-sm-12 dark-white-gradient wide-width-padding'>
                        {% for notebook in getNotebooks %}
                           {% with notebook as tolaNotebook %}
                              {% include 'customdashboard/rrima_components/notebook_listing.html' %}
                          {% endwith %}
                        {% endfor %}
                    </div>      

                    <div class='container-fluid col-lg-12 col-md-12 col-sm-12 dark-white-gradient wide-width-bottom-padding'>
                          {% with rrimaNews as tolaResources %}
                            {% include 'customdashboard/rrima_components/resource_listing.html' %}
                          {% endwith %}
                    </div>

            <!-- ***** PAGE MODALS ********* -->
                    <!-- Household Profile Modal -->
                    <div id="householdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-wide-display" role="document">

                        <!-- Modal content-->
                        <div class="modal-content modal-full-height">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <strong><h3 class="modal-title"> Household Profile</h3></strong>
                          </div>
                          <div class="modal-body modal-full-height" style='word-wrap: break-word; overflow-y: auto;'>
                            Profile Goes Here
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
    <!-- footer -->
        <div id="footer">
            <!-- Sticky Footer -->
            <div class="container">
                <div class="col-md-6 text-left">
                    <a href="http://www.toladata.com" class="text-muted"><b>Tola</b>Data: Built by</a> <a href="http://www.mercycorps.org" class="text-muted">MercyCorps</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="http://tola.work/documentation" class="text-muted">Documentation</a> | <a href="http://tola.work/faq" class="text-muted">FAQ</a> | <a href="http://tola.work/helpdesk/tickets/submit/" class="text-muted">Feedback</a> | <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE" class="text-muted">License</a>
                </div>
            </div>
        </div><!-- .footer collapse -->

      
        <!-- <!- {% block extra_js_in_body %} --> 
        <!-- {% endblock %} -->
    </body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</html>
